* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(36, 36, 129);
}
p {
    color: black;
    padding-bottom: 10px;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 {
    max-width: 100%;
    padding: 0 60px;
    margin-bottom: 100px;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 25px 0;
}
.btns {
    display: inline-block;
    background: rgb(7, 7, 109);
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    transition: bckground 0.5s;
}
.btns:hover {
    background: rgb(35, 95, 35);
}
.header {
    background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
    margin-top: 70px;
}
.categories {
    margin: 70px 0;
}
.col-sm-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-sm-3 img {
    width: 100%;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
    
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: orangered;
}
.title::after{
    content: '';
    background: black;
    width: 80px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h4 {
    color: blue;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
/* .rating .fa{
    color: blue;
} */
.col-4:hover{
    transform: translateY(-5px);
}

/* -------offer------- */

.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 50px;
}
.col-2 .offer-img{
    padding: 0px;
}
small{
    color: blue;
}


/* ---------testimonial------ */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    float: left;
    margin-left: 0px;
    padding: 40px 20px;
    width: 100%;
    box-shadow:0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    font-size: 20px;
    margin: 12px 0;
    
}
/* ----------footer------- */
.footer{
    background: pink;
    color: blue;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: black;
}
.footer h3{
    color: blue;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: blue;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
/* --------media query for menu------- */

/* @media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/* -------media query for less 600 screen size-------- */
/* .row{
    text-align: center;
}
.col-2, .col-3, .col-4{
    flex-basis: 100%;
} */
